.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-ul {
  width: 100vw;
  text-align: center;
}

.nav-li {
  display: inline-block;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

ul {
  list-style-type: none;
}

.bullet {
  list-style-type: disc;
}

.button {
  height: 50px;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  position: fixed;
  bottom: 95px;
  left: 15px;
}

.dropdown {
  position: fixed;
  bottom: 160px;
  left: 15px;
}

.input {
  display: block;
  margin: 15px;
}

.status {
  width: 100vw;
  height: 60vh;
  overflow-y: scroll;
}